@model IEnumerable<CardGame.Web.Models.CardPackViewModel>

@{
    ViewBag.Title = "DatenPflege";
}
  

@if (Model == null)
{
    <h2 class="AGBHeader">Datenpflege</h2>
    <div>Keine Daten vorhanden</div>
}
else
{
    <div class="DatenPflegeBackGround">
        <h2 class="AGBHeader">Datenpflege</h2>    
        <div class="DatenPflegeBody">
            <table class="table">
                <tr style="color:#CFBEBD">
                    <th>
                        @Html.DisplayNameFor(model => model.PacketName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Anzahlkarten)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Preis)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Aktiv)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.PacketName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Anzahlkarten)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Preis)                          
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Aktiv)                        
                        </td>
                        <td>
                            @Html.ActionLink("Bearbeiten", "EditAktivCardpack", new { id = item.IDCardPack })
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
}
