@model CardGame.Web.Models.Shop

@{
    ViewBag.Title = "ShopIndex";
}
<div class="ShopBackGround">
    <div class="ShopIndex">
        <h3>Willkommen im Shop</h3>

        <table class="ShopTable">
            <tr>
                @foreach (var cp in @Model.cardPacks)
            {
                    <td>
                        <img class="CardPacks" src="~/Content/Images/Card Pack.png" /> <br />
                        @Html.DisplayFor(cardpack => cp.PackName)
                    </td>
                }
            </tr>

            <tr>
                @foreach (var cp in @Model.cardPacks)
                {
                    <td>
                        @Html.DisplayFor(cardpack => cp.NumCards) Karten
                    </td>
                }
            </tr>

            <br />
           
            <tr>
  
                @for (int i = 0; i < Model.cardPacks.Count; i++)
                {
                    using (Html.BeginForm())
                    {
                    <td>
                        <img src="~/Content/Images/Diamant.png" />@Model.cardPacks.ToList()[i].Price<br />                        
                        <input type="hidden" name="idCardPack" value="@Model.cardPacks.ToList()[i].CardPackID" />
                        <input type="hidden" name="Packprice" value="@Model.cardPacks.ToList()[i].Price" />
                        @*@Html.ActionLink("kaufen", "ShopIndex", "Shop", new { id = Model.cardPacks.ToList()[i].CardPackID } , new { @class = "btn btn-submit" })*@
                        <input type="submit" value="Kaufentest" class="btn btn-submit" />
                    </td>
                    }
                }
            </tr>
            
            @*<tr>
                @foreach (var cp in Model.diamantPacks)
                {
                    <td>
                        <img class="diamantenBündel" src="~/Content/Images/Diamant Beutel für Shop.png" /> <br />
                        @Html.DisplayFor(diamantenpack => cp.Diamanten) Stk.
                    </td>
                }
            </tr>
            <tr>
                @foreach (var cp in Model.diamantPacks)
                {
                    <td>
                        @Html.DisplayFor(diamantenpack => cp.Price)€ <br />
                        @Html.ActionLink("kaufen", "BuyDiamanten", "Shop", new { id = cp.DiamantenPackId }, new { @class = "btn btn-submit" })
                    </td>
                }
            </tr>*@
        
        </table>
    </div>
</div>