@model CardGame.Web.Models.Shop

@{
    ViewBag.Title = "ShopIndex";
}
<head>
    <link href="~/Content/MyStyle.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
</head>
<div class="ShopBackGround">
    <div class="ShopIndex">
        <h3>Willkommen im Shop</h3>
        <table class="ShopTable">
            <tr>
                @foreach (var cp in @Model.cardPacks)
            {
                    <td>
                        <img class="CardPacks" src="~/Content/Images/Card Pack.png" /> <br />
                        @Html.DisplayFor(cardpack => cp.PackName)
                    </td>
                }
            </tr>
            <tr>
                @foreach (var cp in @Model.cardPacks)
                {
                    <td>
                        @Html.DisplayFor(cardpack => cp.NumCards) Karten
                    </td>
                }
            </tr>
            <tr>
                @for (int i = 0; i < Model.cardPacks.Count; i++)
                {
                    //string name = "pack" + (i + 1);
                    //string id = name + "-star";
                    //string buttonName = "Bewerten" + (i + 1);
                    using (Html.BeginForm())
                    {
                        <td>
                            <img src="~/Content/Images/Diamant.png" />@Model.cardPacks.ToList()[i].Price<br />
                            <input type="hidden" name="idCardPack" value="@Model.cardPacks.ToList()[i].CardPackID" />
                            <input type="hidden" name="Packprice" value="@Model.cardPacks.ToList()[i].Price" />
                            @*@Html.ActionLink("kaufen", "ShopIndex", "Shop", new { id = Model.cardPacks.ToList()[i].CardPackID } , new { @class = "btn btn-submit" })*@
                            <input type="submit" value="Kaufen" class="btn btn-submit" />

                        </td>
                    }
                }
            </tr>

            <tr>
                @foreach (var cp in @Model.cardPacks)
                {
                    
                    <td>
                        <i>Bewertungen</i><br/>
                        <i class="fa fa-star" style="color:#CFC064" aria-hidden="true"></i>
                        @Html.ValueFor(cardpack => cp.AveragePack)

                    </td>
                }
            </tr>
            <tr>

                @for (int i = 0; i < 3; i++)
                {
                    string name = "pack" + (i + 1);
                    string id = name + "-star";
                    string buttonName = "Bewerten" + (i + 1);
                    <td>
                        <div class="stars">
                            <form method=post action="@Url.Action("AddRating", "Shop")">
                                @*<input id="test" name="test" value="Answer1" type="radio />*@
                                <input class="star star-5" id="@id-5" type="radio" name="star" value="5" ) />
                                <label class="star star-5" for="@id-5"></label>
                                <input class="star star-4" id="@id-4" type="radio" name="star" value="4" />
                                <label class="star star-4" for="@id-4"></label>
                                <input class="star star-3" id="@id-3" type="radio" name="star" value="3" />
                                <label class="star star-3" for="@id-3"></label>
                                <input class="star star-2" id="@id-2" type="radio" name="star" value="2" />
                                <label class="star star-2" for="@id-2"></label>
                                <input class="star star-1" id="@id-1" type="radio" name="star" value="1" />
                                <label class="star star-1" for="@id-1"></label>
                                <br />
                                <button type="submit" action="AddRating" name="ratingSubmit" value="@(i+1)">Bewerten</button>
                            </form>
                        </div>
                    </td>
                }

            </tr>

            @*<tr>
                    @foreach (var cp in Model.diamantPacks)
                    {
                        <td>
                            <img class="diamantenBündel" src="~/Content/Images/Diamant Beutel für Shop.png" /> <br />
                            @Html.DisplayFor(diamantenpack => cp.Diamanten) Stk.
                        </td>
                    }
                </tr>
                <tr>
                    @foreach (var cp in Model.diamantPacks)
                    {
                        <td>
                            @Html.DisplayFor(diamantenpack => cp.Price)€ <br />
                        </td>
                    }
                </tr>
                <tr>

                    @for (int i = 0; i < Model.diamantPacks.Count; i++)
                    {
                        using (Html.BeginForm())
                        {
                            <td>

                                <input type="hidden" name="idCardPack" value="@Model.diamantPacks.ToList()[i].DiamantenPackId" />
                                <input type="hidden" name="Packprice" value="@Model.cardPacks.ToList()[i].Price" />
                                <input type="submit" value="Kaufen" class="btn btn-submit" />
                            </td>
                        }
                    }
                </tr>*@
        </table>
    </div>
</div>
