@model CardGame.Web.Models.User
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clonestone</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/MyStyle.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" id="menueleiste">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Clonestone", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse" >
                <ul class="nav navbar-nav navbar-right">

                    @if (User.Identity.Name == "" || User.Identity.Name == null)
                    {
                        <li>@Html.ActionLink("Login", "Login", "Account")</li>
                        <li>@Html.ActionLink("Registrieren", "Register", "Account")</li>
                    }

                    else
                    {
                        <li id="welcomeMessage">Willkommen @ViewBag.Firstname @ViewBag.Lastname</li>
                        //TODO Die Action Links vervollständigen
                        <li>@Html.ActionLink("Shop", "Shop", "Home")</li>
                        <li>@Html.ActionLink("Deckbuilder", "Not implement", "Not implement")</li>
                        @*<li>@Html.ActionLink("Statistic", "Statistics", "Home")</li>*@
                        @*<li>@Html.ActionLink("Cards", "Overview", "Card")</li>*@
                        @*<li>@Html.ActionLink("Users", "Index", "User")</li>*@
                        <li>@Html.ActionLink("Logout", "Logout", "Account")</li>                        
                    }

                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()        
        <hr />
        
    </div>
    <div class="navbar-fixed-bottom center visible-lg visible-md visible-sm" id="footer">
        <div class="navbar-collapse collapse">
            <div class="footer-nav">
                <p>&copy; @DateTime.Now.Year powered by MTP Sandholzer</p>
                </div>
            </div>
        </div>

                @Scripts.Render("~/bundles/jquery")
                @Scripts.Render("~/bundles/bootstrap")
                @RenderSection("scripts", required: false)
</body>
</html>
