@model CardGame.Web.Models.User
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clonestone</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/MyStyle.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" id="menueleiste">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Clonestone", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                
                    @if (User.Identity.Name == "" || User.Identity.Name == null)
                    {
                        <ul class="nav navbar-nav navbar-right" style="margin-top:6px;">
                            <li>@Html.ActionLink("Login", "Login", "Account")</li>
                            <li>@Html.ActionLink("Registrieren", "Register", "Account")</li>
                           </ul>
                    }
                    else
                    {
                        <ul class="nav navbar-nav navbar-right" style="margin-top:6px;">
                            @*TODO Die Action Links vervollständigen*@
                            <li>@Html.ActionLink("Shop", "Shop", "Home")</li>
                            <li>@Html.ActionLink("Deckbuilder", "Not implement", "Not implement")</li>
                            @*<li>@Html.ActionLink("Statistic", "Statistics", "Home")</li>*@
                            @*<li>@Html.ActionLink("Cards", "Overview", "Card")</li>*@
                            @*<li>@Html.ActionLink("Users", "Index", "User")</li>*@
                            <li>@Html.ActionLink("Logout", "Logout", "Account")</li>
                        </ul>
                        <p class="DiamantAnzeige"><img src="~/Content/Images/Diamant.png" />@ViewBag.CurrencyBalance</p>
                    }



                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
        </div>
        <div class="navbar-fixed-bottom center visible-lg visible-md visible-sm">
            <div class="navbar-collapse collapse">
                <div class="footer-nav">
                    <div id="footer">
                        <a href="@Url.Action("Impressum","Home")">Impressum</a> 
                        <a href="@Url.Action("AGB","Home")" style="margin-left:50px">AGB's</a> 
                    </div>                  
                </div>
            </div>
        </div>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)

    <script type="text/javascript">
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "positionClass": "toast-bottom-right",
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "3000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
        $(document).ready(function () {

            @if (TempData["ErrorMessage"] != null)
            {
                <text>            
            toastr.error("", "@TempData["ErrorMessage"]");
            </text>
            }

            @if (TempData["ConfirmMessage"] != null)
            {
                <text>
            toastr.success("", "@TempData["ConfirmMessage"]");
            </text>
            }
            });
    </script>
    </body>
</html>
