@model CardGame.Web.Models.User

@{
    ViewBag.Title = "Login";
}


@using (Html.BeginForm("Login", "Account", FormMethod.Post))
{   
    <fieldset id="LoginForm">
        <h2>Login</h2>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="editor-field">
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { placeholder = "Benutzername" } })
          @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { placeholder = "Passwort" } })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>
        <p id="LoginFormBtn">
            <button type="submit" class="btn btn-default btn-responsive">Login</button>
        </p>
    </fieldset>


}

