@model CardGame.Web.Models.Login

@{
    ViewBag.Title = "Login";
}


@using (Html.BeginForm("Login", "Account", FormMethod.Post))
{
    <fieldset id="LoginForm">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="editor-field">
            <div>@Html.LabelFor(model => model.Email)</div>
            <div>@Html.EditorFor(model => model.Email)</div>
            <p class="valimassage">@Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-warning" })</p></div>
        <br />
        <div class="editor-field">
            <div>@Html.Label("Passwort")</div>
            <div>@Html.EditorFor(model => model.Password)</div>
            <p class="valimassage">@Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-warning" })</p> 
        </div>
        <br/>
        <p>
            <input type="submit" class="btn btn-submit" value="Login">
        </p>
    </fieldset>
}

