@model CardGame.Web.Models.Register
@{
    ViewBag.Title = "Register";
}



@using (Html.BeginForm("Register", "Account", FormMethod.Post))
{

    <fieldset id="RegisterForm">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div>@Html.LabelFor(u => u.Firstname)</div>
        <div>@Html.EditorFor(u => u.Firstname)</div>
        <br />
        <div>@Html.LabelFor(u => u.Lastname)</div>
        <div>@Html.EditorFor(u => u.Lastname)</div>
        <br />
        <div>@Html.LabelFor(u => u.Gamertag)</div>
        <div>@Html.EditorFor(u => u.Gamertag)</div>
        <br />
        <div>@Html.LabelFor(u => u.Email)</div>
        <div>@Html.EditorFor(u => u.Email)</div>
        <br />
        <div>@Html.LabelFor(u => u.Password)</div>
        <div>@Html.EditorFor(u => u.Password)</div>
        <br />
        <div>@Html.Label("Confirm password")</div>
        <div>@Html.EditorFor(u => u.confirmPassword)</div>
        <br />
        <p>
            <input type="submit" class="btn btn-submit" value="Register">
        </p>
    </fieldset>
}


